@charset "utf-8";
/* 使用自定义字体 */
@font-face {
  font-family: "DIY font";
  src: url("https://cdn.jsdelivr.net/gh/xiaoyanu/file-test@2021.11.24/more/HarmonyOS_Sans_SC_Medium.subset.woff2");
}
@font-face {
	font-family: "DIY font";
	src: url("https://xxx.com/subset.woff2") format("truetype");
  }
*{
	margin: 0;
	padding: 0;
	font-family: "DIY font";
	transition: all 0.2s;
}

/* 美化滚动条 */
::-webkit-scrollbar {/*滚动条整体样式*/
         width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
         height: 4px;
         scrollbar-arrow-color:red;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
         border-radius: 5px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
         background: rgba(0,0,0,0.2);
         scrollbar-arrow-color:red;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
         border-radius: 0;
         background: rgba(0,0,0,0.1);
}

body{
	background-color: #dfe7e7;
	/* 禁止鼠标选择文字 */
	user-select: none; 
}
@keyframes rainbow-border {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
/* 定义主盒子 */
#main-box {
    height: 650px;
    width: 900px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #ececec, -20px -20px 60px #ffffff;
    padding: 30px;
    /* Let the box be centered */
    margin: 0 auto;
    margin-top: 70px;
	/* margin-bottom: 0 auto; */
    /* Define the height and width of the avatar */
    /* Make the avatar circular */
    /* Convert the image to a block element and center it */
    display: block;
    /* Define the default rotation speed of the image */
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    /* Avatar breathing light animation */
    animation: light 4s ease-in-out infinite;
}

@keyframes light {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
}


/* 定义顶部头像及名称、介绍部分 */
#head{
	padding: 16px 0;
	border-radius: 35px;
	background: #e0e0e0;
	box-shadow: inset 5px 5px 10px #bebebe,
	            inset -5px -5px 10px #ffffff;
}

/* 定义头像图片样式 */
#touxiang{
	/* 定义头像的高和宽 */
	height: 128px;
	width: 128px;
	/* 让头像变成圆的 */
	border-radius: 50%;
	/* 将图片转换为块元素并居中 */
	display: block;
	margin: 0 auto;
	/* 定义图片默认旋转速度 */
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 1s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	/* 头像呼吸灯 */
	animation: light 4s ease-in-out infinite;
}
/* 呼吸灯颜色变化 */
@keyframes light {
    0% {
        box-shadow: 0 0 4px rgb(35, 34, 34);
    }

    25% {
        box-shadow: 0 0 16px rgb(230, 48, 187);
    }

    50% {
        box-shadow: 0 0 4px rgb(20, 196, 219);
    }
	
    75% {
        box-shadow: 0 0 16px rgb(13, 249, 76);
    }

    100% {
        box-shadow: 0 0 4px rgb(236, 11, 146);
    }
}
/* 当鼠标放到图片上时进行旋转 */
#touxiang:hover{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: scale(0.9) rotate(720deg);
}

/* 定义昵称样式 */
#nick{
	text-align: center;
	font-size: 30px;
}

/* 定义一段文字样式 */
#info{
	text-align: center;
}

/* Main-1 开源作品 */
#main-1{
	margin-top: 30px;
	height: 340px;
	width: 256px;
	border-radius: 35px 3px 3px 35px;
	background: #e0e0e0;
	box-shadow: inset 5px 5px 10px #bebebe,
	            inset -5px -5px 10px #ffffff;
	float: left;
	margin-right: 30px;
	overflow: auto;
}
/* Main-2 个人信息 */
#main-2{
	margin-top: 30px;
	height: 340px;
	width: 310px;
	border-radius: 3px;
	background: #e0e0e0;
	box-shadow: inset 5px 5px 10px #bebebe,
				inset -5px -5px 10px #ffffff;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	overflow: auto;
}

/* 定义个人信息文字格式 */
.main-2-text{
	padding: 11px 20px;
	height: 18px;
	line-height: 18px;
	transition: all 0.5s;
}
.main-2-text:hover{
	transition: all 1s;
	border-radius: 3px;
	/* border-radius: 50px; */
	background: #e0e0e0;
	box-shadow:  5px 5px 10px #bebebe,
	             -5px -5px 10px #ffffff;
}

/* Main-3 个人网站 */
#main-3{
	margin-top: 30px;
	height: 340px;
	width: 256px;
	border-radius: 3px 35px 35px 3px;
	background: #e0e0e0;
	box-shadow: inset 5px 5px 10px #bebebe,
				inset -5px -5px 10px #ffffff;
	float: left;
	margin-left: 30px;
	overflow: auto;
}
/* Định nghĩa kiểu dáng cho class "BlurWebs" */

/* 页脚样式 */
#footer{
	height: 30px;
	width: 100%;
	background-color: rgb(255, 5, 5);
	float: left;
	border-radius: 35px;
	background: #e0e0e0;
	box-shadow: inset 5px 5px 10px #bebebe,
	            inset -5px -5px 10px #ffffff;
	padding-top: 8px;
	margin-top: 30px;
	text-align: center;
}

a{
	text-decoration: none;
	color: #03A9F4;
	transition: all 0.5s;
}
a:hover{
	color: orange;
	transition: all 0.5s;
}

/* 定义Main-1 和 Main-3 的标题样式 */
.title{
	text-align: center;
	margin:0 auto;
	margin-top: 11px;
	font-size: 20px;
}

/* 定义卡片框架 */
.kapian{
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow:  5px 5px 10px #08da78,
				-5px -5px 10px #c718cd;
	height: 70px;
	width: 180px;
	line-height: 70px;
	transition: all 0.5s;
}
/* 更改卡片内容标题样式 */
.kapian-title{
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	padding: 0px 5px;
	font-size: 15px;
}
.kapian:hover{
	box-shadow: #616161 0 3px 10px;
	transform:translate(calc(0px), calc(0px - 5px)); /* 上浮效果 */
	transition: all 0.5s;
}

/* 适配手机端 */
@media only screen and (max-width: 639px) {
	/* 定义主盒子 */
	#main-box{
		height: 1425px;
		width: 320px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	
	/* 定义一段文字样式 */
	#info{
		padding-left: 100px;
		padding-right: 100px;
	}
	/* Main-1 开源作品 */
	#main-1{
		width: 320px;
		margin-right: auto;
		margin-left: auto;
		overflow: auto;
		border-radius: 0px;
	}
	/* Main-2 个人信息 */
	#main-2{
		width: 320px;
		border-radius: 35px 35px 0px 0px;
		margin-right: auto;
		margin-left: auto;
		overflow: auto;
	}
	/* Main-3 个人网站 */
	#main-3{
		width: 320px;
		border-radius: 3px 3px 35px 35px ;
		margin-right: auto;
		margin-left: auto;
		overflow: auto;
	}
}
