:root {
    font-size: 16px;
  }
  
  .navbar-brand {
    font-size: 1.563rem;
    cursor: default;
  }
  
  .nav-link {
    padding: 4px 0;
  }
  
  .nav-link,
  span.navbar-text {
    font-size: 1.25rem;
  }
  
  .navbar-margin-right {
    cursor: default;
  }
  
  span.badge {
    font-size: 0.6rem;
  }
  
  .white-text-with-gray-shadow {
    text-shadow: 0 0 1em gray, 0 0 0.5em gray, 0 0 0.25em gray;
    color: white;
  }
  
  .box-product-margin-top {
    margin-top: 75px;
  }
  
  a.card {
    border: 1px solid transparent;
    transition: 0.15s ease-in-out;
  }
  
  a.card:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 0 10px;
    min-height: 240px;
  }
  
  .card-body h6.card-title {
    min-height: 57.57px;
  }
  
  .left-section {
    width: 40%;
  }
  
  .right-section {
    width: 60%;
  }
  
  .product-description p {
    margin: 0;
    font-size: 14px;
  }
  
  .click-cart-shop-btn,
  .click-cart-shop-btn:hover {
    background: #094db1;
    color: #fff;
    border: 1px solid #094db1;
  }
  
  .huge-margin-top {
    margin-top: 100px;
  }
  
  #aside-menu {
    background: #e9e9e9;
    min-height: auto;
  }
  
  div.filter label,
  form.filters-box > label.form-check-label {
    font-size: 1.5rem;
  }
  
  div.filter.submit button {
    font-size: 1.25rem;
  }
  
  .w-40 {
    width: 40%;
  }
  
  .product-title-header {
    font-size: 2.5rem;
  }
  
  .product-text-size,
  .article-paragraph {
    font-size: 1.5rem;
  }
  
  a.product-text-size {
    font-size: 1.25rem;
  }
  
  a.product-text-size > i {
    font-size: 1rem;
    transition: 0.1s ease-in-out;
  }
  
  a.product-text-size:hover > i {
    rotate: 90deg;
  }
  
  div.btn-group-vertical button {
    font-size: 1rem;
  }
  
  table.table {
    margin-top: 100px;
    font-size: 1rem;
  }
  
  table.table th {
    font-size: 1.5rem;
  }
  
  .width-item-photo {
    width: 90%;
  }
  
  .width-card {
    width: 90%;
  }
  
  .menu-height {
    max-height: 150px;
  }
  
  label.form-check-label {
    font-size: 18px;
  }
  
  .sodimm-article-photo {
    width: 100%;
  }
  
  footer {
    width: 95%;
    margin: 0 auto;
  }
  
  .footer-line-height {
    line-height: 200%;
  }
  
  .facebook-color {
    color: #1877f2;
  }
  
  .instagram-color {
    color: #e4405f;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .box-product-margin-top {
      margin-top: 75px;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .product-title-header {
      font-size: 3rem;
    }
  
    .width-item-photo {
      width: 80%;
    }
  
    .width-card {
      width: 65%;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  
  @media (min-width: 992px) {
    nav {
      height: 46px;
    }
  
    .box-product-margin-top {
      margin-top: 100px;
    }
  
    table.table {
      margin-top: 150px;
    }
  
    .width-item-photo {
      width: 50%;
    }
  
    .width-card {
      width: 40%;
    }
  
    .menu-height {
      height: auto;
    }
  
    .sodimm-article-photo {
      width: 75%;
    }
  
    footer {
      width: 100%;
    }
  }
  
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .navbar-margin-right {
      margin-right: 5%;
    }
  
    #aside-menu {
      background: #e9e9e9;
      min-height: 100vh;
    }
  
    .product-title-header {
      font-size: 3.25rem;
    }
  
    .product-text-size {
      font-size: 1.75rem;
    }
  
    a.product-text-size {
      font-size: 1.5rem;
    }
  
    div.btn-group-vertical button {
      font-size: 1.25rem;
    }
  
    table.table {
      font-size: 1.25rem;
    }
  
    table.table th {
      font-size: 1.75rem;
    }
  }

  
  .skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  
  .skill {
    width: 60%;
    max-width: 520px;
    padding: 0 20px;
  }
  
  .skill-name {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: -1px 0 5px white, 
    0 1px 5px white;
    color: white;
    font-family: "Rubik", sans-serif;
    margin: 15px 0;
  }
  
  .skill-bar {
    height: 12px;
    background: #cccccc;
    border-radius: 8px;
  }
  
  .skill-per {
    height: 12px;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }
  
  .skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #454360;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #454360;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }  
  .typed-cursor{
    opacity: 1;
  }
  .typed-cursor.typed-cursor--blink{
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
            animation: typedjsBlink 0.7s infinite;
  }
  @keyframes typedjsBlink{
    50% { opacity: 0.0; }
  }
  @-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
  }
  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    .navbar-margin-right {
      margin-right: 7.5%;
    }
  }
