.p {
    background: black;
    border-radius: 50%;
    height: 250px;
    width: 250px; 
    box-shadow: -1px 0 5px CYAN, 
    0 1px 5px RED, 
    1px 0 5px CYAN, 
    0 -1px 5px RED;
    transform: scale(.5);
    animation: pulse 2s infinite;
    margin: auto;
    
}
body {
    height: 100vh;
    background: #fff url("th/id/R.dac4c04c2925ca6b6a0727f82e156019") no-repeat center center / cover;

}
.name{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: -40px;
}
.HoangAnh {
    color: #FFFFFF;
    padding: 0;
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 0;
  text-shadow: -1px 0 5px rgb(0, 24, 94), 
                 0 1px 5px RED, 
                 1px 0 5px rgb(0, 9, 66), 
                 0 -1px 5px RED;
  }

.button {
    background-color: #4CAF50;
    border-radius: 10%;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 44%;
    margin-top: 4%;
    cursor: pointer;
  }

    
